body { background: pink; font-family: "Comic Sans MS"; }
<a href="http://www.google.com"> Google </a>

hi {text-align:center; font-weight:bold; font-style:italic; }
<hi> BAIS:3300 - Software Design </hi>